In [1]:
import pandas as pd
import numpy as np

## Importar datos

In [12]:
# DATOS PRODUCCIÓN ENERGÉTICA RENOVABLE
df_solar = pd.read_csv('Produccion_Solar/data_Prod_Solar_TT_EU27_1980_2024.csv', index_col=0, parse_dates=True)
df_hidr = pd.read_csv('Produccion_Hidraulica/data_Prod_Hidr_TT_EU27_1980_2024.csv', index_col=0, parse_dates=True)
df_eolic = pd.read_csv('Produccion_Eolica/data_Prod_Eolic_TT_EU27_1980_2024.csv', index_col=0, parse_dates=True)

In [13]:
# comprobar que las columnas tienen los mismo países
print(df_solar.columns.tolist() == df_hidr.columns.tolist() == df_eolic.columns.tolist())

# comprobar que los índices son iguales
print(df_solar.index.tolist() == df_hidr.index.tolist() == df_eolic.index.tolist())

True
True

In [14]:
# rellenar NaN con 0.0p orque si no, la suma va a dar problemas
df_solar.fillna(0.0, inplace=True)
df_hidr.fillna(0.0, inplace=True)
df_eolic.fillna(0.0, inplace=True)

## Suma renovables

In [15]:
# vamos a dejar sólo los países en la lista de PAISES_UE27
df_oferta_EU27 = pd.DataFrame(index=df_solar.index)

for pais in df_solar.columns:
    df_oferta_EU27[pais] = df_solar[pais] + df_hidr[pais] + df_eolic[pais]

df_oferta_EU27.tail()

,AT,BE,BG,CY,CZ,DE,DK,EE,EL,ES,...,LV,MT,NL,PL,PT,RO,SE,SI,SK,EU27
Date,,,,,,,,,,,,,,,,,,,,,
2024-12-27,58303.643813,8552.045806,24491.238714,303.435950,3603.229019,129656.403042,12568.568528,1753.848792,19044.165230,144430.416544,...,227.927567,0.0,1751.442857,2147.310971,19413.337340,68356.729223,1107.403155,18130.959925,61984.531827,1.024231e+06
2024-12-28,56921.824691,7875.220330,19967.110203,321.704218,3731.725540,144034.547679,49722.086130,6559.420831,17841.435998,126330.290293,...,229.974255,0.0,4988.693837,2321.011364,20050.083403,53994.464454,1038.953775,13906.576281,42034.937710,9.839482e+05
2024-12-29,57694.187984,7647.194401,11173.406812,319.894579,4666.728912,362119.391470,207698.006948,35128.000482,12607.198050,117665.288387,...,1803.372514,0.0,66091.787841,21915.126737,20393.563275,47262.224941,3465.820249,12887.336144,34312.409942,1.475367e+06
2024-12-30,57698.629631,20913.831241,3749.643390,377.157658,4401.452209,626006.689644,190674.547835,31183.056916,10379.447292,116190.474100,...,2018.543797,0.0,130821.041407,52128.351380,18698.774487,49258.866460,2874.261341,12699.069121,33799.150538,1.836850e+06
2024-12-31,56987.263501,38103.003527,3407.178804,1113.055786,5549.105939,754773.953136,167184.537287,18463.523711,8946.804304,123037.460868,...,1276.402854,0.0,139089.104401,59023.359076,19042.045429,52591.537357,2087.260761,12602.306533,44733.061541,2.028514e+06

In [16]:
df_oferta_EU27.to_csv('data_Oferta_Renovables_EU27_1980_2024.csv', index=True)