In [1]:
import pandas as pd

In [22]:
data = pd.read_csv('cumulative-installed-wind-energy-capacity-gigawatts.csv')
data.head()

        Entity Code  Year  Wind capacity (total) (GW)
0  Afghanistan  AFG  2012                      0.0001
1  Afghanistan  AFG  2013                      0.0001
2  Afghanistan  AFG  2014                      0.0001
3  Afghanistan  AFG  2015                      0.0001
4  Afghanistan  AFG  2016                      0.0001

## Paises interés

In [23]:
paises_interes = ['Austria', 'Switzerland', 'Germany', 'France', 'Spain', 'Portugal', 'Sweden', 'Finland', 'Romania']
df_paises = data[ (data['Entity'].isin(paises_interes)) ]
df_paises

           Entity Code  Year  Wind capacity (total) (GW)
152       Austria  AUT  2000                       0.050
153       Austria  AUT  2001                       0.067
154       Austria  AUT  2002                       0.109
155       Austria  AUT  2003                       0.322
156       Austria  AUT  2004                       0.581
...           ...  ...   ...                         ...
2651  Switzerland  CHE  2019                       0.075
2652  Switzerland  CHE  2020                       0.087
2653  Switzerland  CHE  2021                       0.087
2654  Switzerland  CHE  2022                       0.087
2655  Switzerland  CHE  2023                       0.087

[211 rows x 4 columns]

In [25]:
# transformar la capacidad de GW a MW
df_paises_MW = df_paises.copy()
df_paises_MW['Wind_capacity_total_MW'] = df_paises_MW['Wind capacity (total) (GW)'] *1000
df_paises_MW.head()

      Entity Code  Year  Wind capacity (total) (GW)  Wind_capacity_total_MW
152  Austria  AUT  2000                       0.050               50.000000
153  Austria  AUT  2001                       0.067               67.000000
154  Austria  AUT  2002                       0.109              109.000005
155  Austria  AUT  2003                       0.322              322.000030
156  Austria  AUT  2004                       0.581              581.000030

In [34]:
df_paises_MW.to_csv('Capacidad_Instalada_Paises_Interes_MW_2000_2023.csv')

## Todos países europa

In [40]:
paises_eu = [
    "Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic",
    "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary",
    "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta",
    "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia",
    "Spain", "Sweden", "Norway", "Switzerland", "Iceland", "United Kingdom"
]
print(len(paises_eu))

df_eu = data[ data['Entity'].isin( paises_eu+["Europe","European Union (27)"] ) ]
lista_eu = df_eu['Entity'].unique().tolist()
print(lista_eu)
print(len(lista_eu))

31
['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Denmark', 'Estonia', 'Europe', 'European Union (27)', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']
32

In [41]:
lista_paises_faltan = []
for p in paises_eu:
    if p not in lista_eu:
        lista_paises_faltan.append(p)
    else:
        continue
lista_paises_faltan

['Czech Republic']

FALTA ```'Czech Republic'```

In [35]:
dict_pais_codigo = {
    'Austria': ['AT', 'AUT'],
    'Belgium': ['BE', 'BEL'],
    'Bulgaria': ['BG', 'BGR'],
    'Croatia': ['HR', 'HRV'],
    'Cyprus': ['CY', 'CYP'],
    'Czech Republic': ['CZ', 'CZE'],
    'Denmark': ['DK', 'DNK'],
    'Estonia': ['EE', 'EST'],
    'Finland': ['FI', 'FIN'],
    'France': ['FR', 'FRA'],
    'Germany': ['DE', 'DEU'],
    'Greece': ['GR', 'GRC'],
    'Hungary': ['HU', 'HUN'],
    'Ireland': ['IE', 'IRL'],
    'Italy': ['IT', 'ITA'],
    'Latvia': ['LV', 'LVA'],
    'Lithuania': ['LT', 'LTU'],
    'Luxembourg': ['LU', 'LUX'],
    'Malta': ['MT', 'MLT'],
    'Netherlands': ['NL', 'NLD'],
    'Poland': ['PL', 'POL'],
    'Portugal': ['PT', 'PRT'],
    'Romania': ['RO', 'ROU'],
    'Slovakia': ['SK', 'SVK'],
    'Slovenia': ['SI', 'SVN'],
    'Spain': ['ES', 'ESP'],
    'Sweden': ['SE', 'SWE'],
    'Norway': ['NO', 'NOR'],
    'Switzerland': ['CH', 'CHE'],
    'Iceland': ['IS', 'ISL'],
    'United Kingdom': ['GB', 'GBR']
}

In [42]:
# transformar la capacidad de GW a MW
df_eu_MW = df_eu.copy()
df_eu_MW['Wind_capacity_total_MW'] = df_eu_MW['Wind capacity (total) (GW)'] *1000

df_eu_MW.to_csv('Capacidad_Instalada_Europa_MW_2000_2023.csv')