In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('installed-solar-pv-capacity.csv')
data.head()

        Entity Code  Year  Solar capacity (total) (GW)
0  Afghanistan  AFG  2009                     0.000002
1  Afghanistan  AFG  2010                     0.000102
2  Afghanistan  AFG  2011                     0.000120
3  Afghanistan  AFG  2012                     0.016122
4  Afghanistan  AFG  2013                     0.016843

## Paises interés

In [9]:
paises_interes = ['Austria', 'Switzerland', 'Germany', 'France', 'Spain', 'Portugal', 'Sweden', 'Finland', 'Romania']
df_paises = data[ (data['Entity'].isin(paises_interes)) ]
df_paises

           Entity Code  Year  Solar capacity (total) (GW)
230       Austria  AUT  2000                      0.00500
231       Austria  AUT  2001                      0.00700
232       Austria  AUT  2002                      0.00900
233       Austria  AUT  2003                      0.02300
234       Austria  AUT  2004                      0.02700
...           ...  ...   ...                          ...
3586  Switzerland  CHE  2019                      2.49800
3587  Switzerland  CHE  2020                      2.97300
3588  Switzerland  CHE  2021                      3.65500
3589  Switzerland  CHE  2022                      4.33992
3590  Switzerland  CHE  2023                      5.83992

[208 rows x 4 columns]

In [10]:
# transformar la capacidad de GW a MW
df_paises_MW = df_paises.copy()
df_paises_MW['Solar_capacity_total_MW'] = df_paises_MW['Solar capacity (total) (GW)'] *1000
df_paises_MW.head()

      Entity Code  Year  Solar capacity (total) (GW)  Solar_capacity_total_MW
230  Austria  AUT  2000                        0.005                 5.000000
231  Austria  AUT  2001                        0.007                 7.000000
232  Austria  AUT  2002                        0.009                 9.000001
233  Austria  AUT  2003                        0.023                23.000002
234  Austria  AUT  2004                        0.027                27.000000

In [19]:
df_paises_MW.to_csv('Capacidad_Instalada_Paises_Interes_MW_2000_2023.csv', index=False)

## Todos países europa

In [12]:
paises_eu = [
    "Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic",
    "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary",
    "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta",
    "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia",
    "Spain", "Sweden", "Norway", "Switzerland", "Iceland", "United Kingdom"
]
print(f'# Paises Europa: {len(paises_eu)}')

df_eu = data[ data['Entity'].isin( paises_eu+["Europe","European Union (27)"] ) ]
lista_eu = df_eu['Entity'].unique().tolist()
print(lista_eu)
print(f'# Paises en datos: {len(lista_eu)-2}')

# Paises Europa: 31
['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Denmark', 'Estonia', 'Europe', 'European Union (27)', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']
# Paises en datos: 30

In [13]:
# veamos qué países europeos faltan
lista_paises_faltan = []
for p in paises_eu:
    if p not in lista_eu:
        lista_paises_faltan.append(p)
    else:
        continue
lista_paises_faltan

['Czech Republic']

FALTA ```'Czech Republic'```

In [14]:
# diccionario de los países y sus códigos ISO 3166-1 alpha-2 y alpha-3
dict_pais_codigo = {
    'Austria': ['AT', 'AUT'],
    'Belgium': ['BE', 'BEL'],
    'Bulgaria': ['BG', 'BGR'],
    'Croatia': ['HR', 'HRV'],
    'Cyprus': ['CY', 'CYP'],
    'Czech Republic': ['CZ', 'CZE'],
    'Denmark': ['DK', 'DNK'],
    'Estonia': ['EE', 'EST'],
    'Finland': ['FI', 'FIN'],
    'France': ['FR', 'FRA'],
    'Germany': ['DE', 'DEU'],
    'Greece': ['GR', 'GRC'],
    'Hungary': ['HU', 'HUN'],
    'Ireland': ['IE', 'IRL'],
    'Italy': ['IT', 'ITA'],
    'Latvia': ['LV', 'LVA'],
    'Lithuania': ['LT', 'LTU'],
    'Luxembourg': ['LU', 'LUX'],
    'Malta': ['MT', 'MLT'],
    'Netherlands': ['NL', 'NLD'],
    'Poland': ['PL', 'POL'],
    'Portugal': ['PT', 'PRT'],
    'Romania': ['RO', 'ROU'],
    'Slovakia': ['SK', 'SVK'],
    'Slovenia': ['SI', 'SVN'],
    'Spain': ['ES', 'ESP'],
    'Sweden': ['SE', 'SWE'],
    'Norway': ['NO', 'NOR'],
    'Switzerland': ['CH', 'CHE'],
    'Iceland': ['IS', 'ISL'],
    'United Kingdom': ['GB', 'GBR']
}

In [18]:
# transformar la capacidad de GW a MW
df_eu_MW = df_eu.copy()
df_eu_MW['Solar_capacity_total_MW'] = df_eu_MW['Solar capacity (total) (GW)'] *1000

df_eu_MW.to_csv('Capacidad_Instalada_Europa_MW_2000_2023.csv', index=False)