In [1]:
import pandas as pd
import numpy as np

## Importar datos

In [2]:
# DATOS PRODUCCIÓN SOLAR FOTOVOLTAICA
df_PSF = pd.read_csv('data_PSF_1980_2024.csv', index_col=0, parse_dates=True)
                                    # tomamos la primer columna del csv como índice  en formato fecha

## Cobertura conjunta Europa

In [3]:
PAISES_EU27 = [
    'AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI', 'FR', 
    'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'PL', 'PT', 'RO', 
    'SE', 'SI', 'SK']

In [4]:
# vamos a dejar sólo los países en la lista de PAISES_UE27
df_prod_solar_EU27 = df_PSF.copy()

for pais in df_prod_solar_EU27.columns:
    if pais not in PAISES_EU27:
        df_prod_solar_EU27.drop(pais, axis=1, inplace=True)
    else:
        continue

# y creamos la columna de la producción solar conjunta de los países de la UE27
df_prod_solar_EU27['EU27'] = df_prod_solar_EU27.sum(axis=1)

df_prod_solar_EU27.tail()

,AT,BE,BG,CY,CZ,DE,DK,EE,EL,ES,...,LV,MT,NL,PL,PT,RO,SE,SI,SK,EU27
Date,,,,,,,,,,,,,,,,,,,,,
2024-12-27,3360.828579,5893.580151,897.095640,197.707635,3402.393562,54534.225831,103.895674,1.319142,5555.774894,12444.426775,...,0.209530,0.0,363.389111,438.743224,29.535735,339.401395,63.856746,12387.506800,22891.781636,196826.592096
2024-12-28,3128.621675,4827.983444,1077.173676,273.467821,3577.084060,63537.738008,113.660966,1.286612,6727.703142,13398.701975,...,0.164960,0.0,215.294485,592.372521,28.328996,600.281963,28.146995,11783.189408,23504.525379,207193.311009
2024-12-29,3352.272044,1432.335937,1842.849022,269.003981,3955.567433,42369.395427,202.552982,1.373500,6539.969552,13952.416802,...,0.245507,0.0,95.403913,1195.428066,29.670131,772.230646,53.831750,12280.226409,21279.285430,178687.653742
2024-12-30,3390.690845,1222.753698,2861.048321,253.680840,3356.132650,36704.366218,41.135401,9.212079,7946.289490,14167.634294,...,0.117058,0.0,133.274295,798.481485,28.931989,879.910764,138.940435,12577.977168,19383.655901,175779.619827
2024-12-31,3391.037847,1552.914506,2900.972451,291.626664,3516.837455,53017.063480,62.944376,16.655604,8089.990747,13346.246615,...,1.777924,0.0,104.318309,1112.889391,26.324029,1010.815380,142.918687,11787.175292,14837.621196,184192.699571

In [5]:
df_prod_solar_EU27.to_csv('data_Prod_Solar_TT_EU27_1980_2024.csv', index=True)